SECRET_KEY=django-insecure-dzm7(_m2_tmvbsvod87)n83_qto7b(*6uq!-bgi8kk^oic9=($
DEBUG=True
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_NAME=eduflow
DB_USER=sirojiddin
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

TIME_ZONE=Asia/Tashkent

# Telegram bot
BOT_TOKEN=8969078008:AAEJylHBJI__4mIhF1zdK1WQKJ5L3rv-Ddc
BOT_API_TOKEN=uzun-maxfiy-bot-servis-tokeni
API_BASE_URL=http://127.0.0.1:8000





