# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env & secrets
.env

# Database
*.sqlite3
db.sqlite3

# Django
staticfiles/
media/

# django-silk profiler output
silk_profiles/

# OS
.DS_Store
Thumbs.db
